.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-width: 0.25rem;
  border-style: solid;
  font-weight: bold;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

.white {
  background-color: white;
  border-color: lightgray;
  color: black;
}
