.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-width: 0.25rem;
  border-style: solid;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 1rem;
  transition: background-color 0.1s, border-color 0.1s;

  &:hover {
    cursor: pointer;
  }
}

.white {
  background-color: white;
  border-color: lightgray;
  color: black;

  &:hover {
    background-color: #F1F1F1;
    border-color: #AAAAAA;
  }

  &:disabled {
    color: gray;

    &:hover {
      border-color: lightgray;
      background-color: white;
      cursor: not-allowed;
    }
  }
}

.stretch {
  align-self: stretch;
}
