html {
  background-image: url("../src/assets/background2.png"); 

  background-size: cover;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  background-color:rgb(245, 241, 235);
  color:rgb(41, 39, 39);
  border-radius: 2px;
  border: 1px;
}

ul {
  list-style-type: none;
}

#loginDiv{
  backdrop-filter: blur(10px);
  padding: 20px;
  filter: drop-shadow(0 0 1rem rgb(41, 55, 58));
  border-radius: 5px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.football-logo{
  filter: drop-shadow(0 0 1rem rgb(41, 62, 63));
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-image: url();
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-text-stroke: 0.5px #eeeeee;
  backdrop-filter: blur(10px);
  cursor: grab;
  padding: 3px;
  margin: 2px;
  border: 3px solid;
  border-image: url("../src/assets/purple-fire.gif") 55;
}

.playerImage {
  width: 10%;
  border: 0.5px white solid;
}

.selectDiv {
  border: solid 1px; 
  padding: 20px;
  float: left;
}

.selectPosition {
  float: left;
}

.searchTeam {
  float: left; 
  height: 10px; 
  width: 100px;
}

.dragHereDiv {
  float: left;
}

.dragHereBox {
  border: dotted 5px;
  width: 500px ;
  height: 500px;
  float: left;
  text-align: center;
}

.playerImage {
  width: 10%; 
  border:0.5px white solid;
}

#searchResults {
  float: left; 
  display:none;
}

.read-the-docs {
  color: #888;
}

.cardBorder {
  display :inline;
  padding: 2px;
  border: 1px solid #FFFFFF;
}
